.u-section-1 .u-sheet-1 {
  min-height: 948px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 17px auto 0 22px;
}

.u-section-1 .u-text-2 {
  margin: 22px auto 0 22px;
}

.u-section-1 .u-image-1 {
  width: 300px;
  height: 300px;
  margin: 17px auto 60px 22px;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1012px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 23px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: 20px;
    margin-left: auto;
    margin-bottom: 58px;
  }
}