.u-section-1 .u-sheet-1 {
  min-height: 895px;
}

.u-section-1 .u-image-1 {
  width: 234px;
  height: 300px;
  margin: 205px auto 0 27px;
}

.u-section-1 .u-image-2 {
  width: 225px;
  height: 300px;
  margin: -300px auto 0 36px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: -300px 413px 0 288px;
}

.u-section-1 .u-text-2 {
  margin: 15px 413px 0 288px;
}

.u-section-1 .u-btn-1 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  border-style: solid;
  margin: 15px auto 60px 288px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 20px;
    margin-right: 313px;
    margin-left: 188px;
    margin-bottom: initial;
  }

  .u-section-1 .u-text-2 {
    margin-right: 313px;
    margin-left: 188px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 188px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin: 36px 254px 0 27px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 254px;
    margin-left: 27px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 27px;
    margin-left: 27px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 101px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 101px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    width: 166px;
    height: 215px;
    margin-top: 132px;
    margin-left: 4px;
  }

  .u-section-1 .u-image-2 {
    width: 145px;
    height: 193px;
    margin-top: -204px;
    margin-left: 15px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 24px;
    margin-right: 179px;
    margin-left: 5px;
  }

  .u-section-1 .u-text-2 {
    margin-right: -36px;
    margin-left: 3px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 24px;
    margin-left: 5px;
  }
}