 .u-section-1 {
  filter: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 662px;
}

.u-section-1 .u-btn-1 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  border-style: solid;
  font-size: 3rem;
  font-weight: 700;
  margin: 284px auto 0 452px;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  border-style: solid;
  font-size: 3rem;
  font-weight: 700;
  margin: 32px auto 0 452px;
  padding: 0;
}

.u-section-1 .u-image-1 {
  height: 502px;
  width: 398px;
  margin: -374px auto 0 20px;
}

.u-section-1 .u-image-2 {
  width: 311px;
  height: 417px;
  margin: -469px auto 0 71px;
}

.u-section-1 .u-btn-3 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  border-style: solid;
  font-size: 3rem;
  font-weight: 700;
  margin: -41px auto 0 453px;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  border-style: solid;
  font-size: 3rem;
  font-weight: 700;
  margin: -373px 405px 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-5 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  border-style: solid;
  font-size: 3rem;
  font-weight: 700;
  margin: -170px auto 60px 452px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-left: 252px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 252px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -123px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 253px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 205px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 252px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 663px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 263px;
    margin-right: 156px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 23px;
    margin-right: 127px;
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    margin-top: -361px;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    margin-left: 51px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -69px;
    margin-right: 13px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -341px;
    margin-right: 19px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -153px;
    margin-right: 156px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: 77px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.25rem;
    margin-top: 211px;
    margin-right: 93px;
  }

  .u-section-1 .u-btn-2 {
    font-size: 1.25rem;
    margin-top: -73px;
    margin-right: 81px;
  }

  .u-section-1 .u-image-1 {
    height: 227px;
    width: 177px;
    margin-top: -126px;
  }

  .u-section-1 .u-image-2 {
    width: 122px;
    height: 236px;
    margin-top: -227px;
    margin-left: 28px;
  }

  .u-section-1 .u-btn-3 {
    font-size: 1.25rem;
    margin-top: -53px;
    margin-right: 33px;
  }

  .u-section-1 .u-btn-4 {
    font-size: 1.25rem;
    margin-top: -157px;
    margin-right: 36px;
  }

  .u-section-1 .u-btn-5 {
    font-size: 1.25rem;
    margin-top: -71px;
    margin-right: 93px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 56px;
}

.u-section-2 .u-text-1 {
  margin: 14px 81px 0;
}

.u-section-2 .u-text-2 {
  margin: -16px -49px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    font-size: 1.125rem;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 84px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 13px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: -48px;
    margin-bottom: 1px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-top: 11px;
    font-size: 1rem;
  }

  .u-section-2 .u-text-2 {
    margin-top: -7px;
    margin-bottom: 3px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 64px;
  }

  .u-section-2 .u-text-1 {
    font-size: 0.625rem;
    margin-top: 4px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 0;
    margin-right: -50px;
    margin-bottom: 4px;
  }
}