.u-section-1 .u-sheet-1 {
  min-height: 660px;
}

.u-section-1 .u-image-1 {
  height: 502px;
  width: 398px;
  margin: 79px auto 0 20px;
}

.u-section-1 .u-image-2 {
  width: 311px;
  height: 417px;
  margin: -469px auto 0 71px;
}

.u-section-1 .u-btn-1 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  border-style: solid;
  font-size: 3rem;
  font-weight: 700;
  margin: -237px auto 0 453px;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  border-style: solid;
  font-size: 3rem;
  font-weight: 700;
  margin: 32px auto 0 453px;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  border-style: solid;
  font-size: 3rem;
  font-weight: 700;
  margin: 35px auto 0 454px;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  border-style: solid;
  font-size: 3rem;
  font-weight: 700;
  margin: -373px 404px 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-5 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  border-style: solid;
  font-size: 3rem;
  font-weight: 700;
  margin: -170px auto 60px 453px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-left: 253px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 253px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 254px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 204px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 253px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-top: 61px;
    margin-left: 12px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -451px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -276px;
    margin-right: 138px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 23px;
    margin-right: 108px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 33px;
    margin-right: 143px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -352px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -160px;
    margin-right: 136px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-1 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 535px;
  }

  .u-section-1 .u-image-1 {
    height: 197px;
    width: 155px;
    margin-top: 53px;
    margin-left: 3px;
  }

  .u-section-1 .u-image-2 {
    width: 130px;
    height: 235px;
    margin-top: -216px;
    margin-left: 15px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.25rem;
    margin-top: -132px;
    margin-right: 109px;
  }

  .u-section-1 .u-btn-2 {
    font-size: 1.25rem;
    margin-top: 9px;
    margin-right: 97px;
  }

  .u-section-1 .u-btn-3 {
    font-size: 1.25rem;
    margin-top: 9px;
    margin-right: 112px;
  }

  .u-section-1 .u-btn-4 {
    font-size: 1.25rem;
    margin-top: -146px;
    margin-right: 52px;
  }

  .u-section-1 .u-btn-5 {
    font-size: 1.25rem;
    margin-top: -69px;
    margin-right: 109px;
  }
}