 .u-section-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("images/NEWWP.jpg");
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 537px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 13px auto 0 21px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 1px auto 60px 24px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 443px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 339px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 13px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 254px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 160px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 0;
    margin-left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 751px;
}

.u-section-2 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  width: 746px;
  margin: 20px auto 0;
}

.u-section-2 .u-gallery-1 {
  height: 423px;
  margin-top: 47px;
  margin-bottom: 60px;
  grid-gap: 17px;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  --gap: 17px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 675px;
  }

  .u-section-2 .u-gallery-1 {
    height: 347px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-gap: 17px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1153px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }

  .u-section-2 .u-gallery-1 {
    height: 825px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2204px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1896px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1508px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1206px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 121px auto 0;
}

.u-section-3 .u-countdown-1 {
  margin: 77px auto 0;
}

.u-section-3 .u-countdown-item-1 {
  background-image: none;
  padding: 15px 20px;
}

.u-section-3 .u-countdown-counter-1 {
  font-size: 4.5rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-3 .u-countdown-label-1 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

.u-section-3 .u-countdown-separator-1 {
  font-size: 4.5rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-3 .u-countdown-item-2 {
  background-image: none;
  padding: 15px 20px;
}

.u-section-3 .u-countdown-counter-2 {
  font-size: 4.5rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-3 .u-countdown-label-2 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

.u-section-3 .u-countdown-separator-2 {
  font-size: 4.5rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-3 .u-countdown-item-3 {
  background-image: none;
  padding: 15px 20px;
}

.u-section-3 .u-countdown-counter-3 {
  font-size: 4.5rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-3 .u-countdown-label-3 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

.u-section-3 .u-countdown-separator-3 {
  font-size: 4.5rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-3 .u-countdown-item-4 {
  background-image: none;
  padding: 15px 20px;
}

.u-section-3 .u-countdown-counter-4 {
  font-size: 4.5rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-3 .u-countdown-label-4 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

.u-section-3 .u-countdown-separator-4 {
  font-size: 4.5rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-3 .u-countdown-item-5 {
  background-image: none;
  padding: 15px 20px;
}

.u-section-3 .u-countdown-counter-5 {
  font-size: 4.5rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-3 .u-countdown-label-5 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

.u-section-3 .u-countdown-separator-5 {
  font-size: 4.5rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-3 .u-countdown-item-6 {
  background-image: none;
  padding: 15px 20px;
}

.u-section-3 .u-countdown-counter-6 {
  font-size: 4.5rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-3 .u-countdown-label-6 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

.u-section-3 .u-text-2 {
  margin: 30px auto 60px;
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-top: 63px;
  }

  .u-section-3 .u-countdown-1 {
    height: 275px;
    margin-top: 60px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 143px;
  }

  .u-section-3 .u-countdown-1 {
    margin-top: 35px;
    margin-right: auto;
    margin-left: -50px;
    padding: 100px 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 168px;
}

.u-section-4 .u-social-icons-1 {
  white-space: nowrap;
  height: 44px;
  min-height: 16px;
  width: 173px;
  min-width: 68px;
  margin: 60px auto 0;
}

.u-section-4 .u-icon-1 {
  height: 32px;
  color: rgb(47, 102, 254) !important;
}

.u-section-4 .u-icon-2 {
  height: 32px;
}

.u-section-4 .u-icon-3 {
  height: 32px;
  color: rgb(205, 23, 164) !important;
}

.u-section-4 .u-text-1 {
  margin: 30px auto 60px;
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 245px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 29px;
    margin-left: 0;
    margin-right: 0;
  }
}