.u-section-1 .u-sheet-1 {
  min-height: 1402px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 12px 638px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 0 638px 0 0;
}

.u-section-1 .u-btn-1 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  border-style: solid;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 33px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  border-style: solid;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  border-style: solid;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  border-style: solid;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-5 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  border-style: solid;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-6 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  border-style: solid;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-7 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  border-style: solid;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-8 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  border-style: solid;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-9 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  border-style: solid;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-10 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  border-style: solid;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-11 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  border-style: solid;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-12 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  border-style: solid;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-13 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  border-style: solid;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-14 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  border-style: solid;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-15 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  border-style: solid;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-16 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  border-style: solid;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-17 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  border-style: solid;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 21px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-18 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  border-style: solid;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-19 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  border-style: solid;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-20 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  border-style: solid;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-21 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  border-style: solid;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-22 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  border-style: solid;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-23 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  border-style: solid;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-24 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  border-style: solid;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-25 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  border-style: solid;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-26 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  border-style: solid;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px auto 20px 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 438px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 438px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 218px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 218px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1.3333333333333333rem;
    margin-right: 38px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 38px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1291px;
}

.u-section-2 .u-image-1 {
  height: 1298px;
  width: 320px;
  object-position: 50% 100%;
  margin: -7px auto 0 0;
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2558px;
  }

  .u-section-2 .u-image-1 {
    height: 3389px;
    width: 820px;
    margin: 0 -50px -831px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1401px;
  }

  .u-section-2 .u-image-1 {
    height: 2232px;
    width: 540px;
    margin-right: 0;
    margin-left: 300px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1643px;
  }

  .u-section-2 .u-image-1 {
    height: 1626px;
    width: 440px;
    margin: 9px -50px;
  }
}