.u-section-1 .u-sheet-1 {
  min-height: 1170px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 18px 946px 0 -1px;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  margin: 7px 894px 0 -1px;
}

.u-section-1 .u-btn-1 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  border-style: solid;
  font-weight: 700;
  margin: 17px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  border-style: solid;
  font-weight: 700;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  border-style: solid;
  font-weight: 700;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  border-style: solid;
  font-weight: 700;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-5 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  border-style: solid;
  font-weight: 700;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-6 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  border-style: solid;
  font-weight: 700;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-7 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  border-style: solid;
  font-weight: 700;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-8 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  border-style: solid;
  font-weight: 700;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-9 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  border-style: solid;
  font-weight: 700;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-10 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  border-style: solid;
  font-weight: 700;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-11 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  border-style: solid;
  font-weight: 700;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-12 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  border-style: solid;
  font-weight: 700;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-13 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  border-style: solid;
  font-weight: 700;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-14 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  border-style: solid;
  font-weight: 700;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-15 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  border-style: solid;
  font-weight: 700;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-16 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  border-style: solid;
  font-weight: 700;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-17 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  border-style: solid;
  font-weight: 700;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-18 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  border-style: solid;
  font-weight: 700;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-19 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  border-style: solid;
  font-weight: 700;
  margin: 22px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-20 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  border-style: solid;
  font-weight: 700;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-21 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  border-style: solid;
  font-weight: 700;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-22 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  border-style: solid;
  font-weight: 700;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-23 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  border-style: solid;
  font-weight: 700;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-24 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  border-style: solid;
  font-weight: 700;
  margin: 20px auto 18px 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 780px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 694px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 474px;
    margin-left: -2px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 474px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 448px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 294px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1558px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 188px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 94px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1291px;
}

.u-section-2 .u-image-1 {
  height: 1960px;
  width: 320px;
  margin: -669px auto 0 0;
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2558px;
  }

  .u-section-2 .u-image-1 {
    height: 3389px;
    width: 820px;
    object-position: 50% 100%;
    margin: 0 -50px -831px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1401px;
  }

  .u-section-2 .u-image-1 {
    height: 2232px;
    width: 540px;
    margin-right: 0;
    margin-left: 300px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1291px;
  }

  .u-section-2 .u-image-1 {
    height: 1626px;
    width: 440px;
    margin: -328px -50px -7px;
  }
}