.u-section-1 .u-sheet-1 {
  min-height: 58px;
}

.u-section-1 .u-text-1 {
  margin: 6px auto 9px 1px;
}.u-section-2 .u-sheet-1 {
  min-height: 368px;
}

.u-section-2 .u-text-1 {
  margin: 11px 0;
}.u-section-3 .u-sheet-1 {
  min-height: 483px;
}

.u-section-3 .u-text-1 {
  margin: 10px auto 60px 0;
}